.vscode
.venv
venv
__pycache__
__init__.py
qtc-quant-frontend
data/
.cache/
external_strategies/
app/strats/
*.parquet
*.log
.strategy_starter
risk/
settings.py
.strategy_sync_state.json
team_registry.yaml